RUNPOD_API_KEY=
RUNPOD_IMAGE=ghcr.io/yhfyhf/facefusion-serverless
RUNPOD_IMAGE_TAG=latest
RUNPOD_ENDPOINT_NAME=facefusion-serverless
FACEFUSION_REPO=https://github.com/yhfyhf/Facefusion.git
FACEFUSION_VERSION=yhf-custom-3.8.2
RUNPOD_GPU_TYPE_IDS=
RUNPOD_DATA_CENTER_IDS=
